@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}
/* shared styles */
.display-flex{
    display: flex;
}
.text-primary{
    color: #FF900E;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    padding: 20px 24px;
    color: white;
    background-color: rgba(255, 144, 14, 1);
    font-weight: 600;
    font-size: 1.08rem;
    border-radius: 8px;
    border: none;

}
main{
    max-width: 1240px;
    margin: 0 auto;
}
main > section{
    margin-top: 112px;
}

.section-title{
    font-size: 2.4rem;
    font-weight: 70;
}

/* header styles  */


/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.1rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;

}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1240px;
    margin: 0 auto;
}
/* banner styles  */
.banner-content{
    max-width: 745px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 3.4rem;
    font-weight: 700;
}
.banner-img{
    width: 100%;
    margin-bottom: 2.4rem;
}

/* teams and features styles */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our-features{
    padding-left: 60px;
    max-width: 475px;
}
#quick-list{
    font-weight: 500;
}
.feature-description{
    font-size: 0.86rem;
    margin-bottom: 28px;
}

/* some facts styles */
.section-description{
    font-size: 0.86rem;
}
/* responsive media query */
/* small device */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        padding: 0px;
        margin-left: 20px ;
        margin-right: 10px ;
    }
}
/* medium size device media query */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        width: 45px auto;
    }
}