@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}
/* shared styles */
.display-flex{
    display: flex;
}
.text-primary{
    color: #FF900E;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    padding: 20px 24px;
    color: white;
    background-color: rgba(255, 144, 14, 1);
    font-weight: 600;
    font-size: 1.08rem;
    border-radius: 8px;
    border: none;

}
main{
    max-width: 1240px;
    margin: 0 auto;
}
main > section{
    margin-top: 112px;
}

.section-title{
    font-size: 2.4rem;
    font-weight: 700;
}

/* header styles  */


/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.1rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;

}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1240px;
    margin: 0 auto;
}
/* banner styles  */
.banner-content{
    max-width: 745px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 3.4rem;
    font-weight: 700;
}
.banner-img{
    width: 100%;
    margin-bottom: 2.4rem;
}

/* teams and features styles */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our-features{
    padding-left: 60px;
    max-width: 475px;
}
#quick-list{
    font-weight: 500;
}
.feature-description{
    font-size: 0.86rem;
    margin-bottom: 28px;
}
/* features section styles */
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.features{
    gap: 120px;
}
.feature-card{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-image img{
    width: 100%;
}
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.07rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
#experience-badge{
    height: 172px;
    width: 295px;
    padding: 38px 35px;
    margin-left: -80px;
    margin-top: -66px;
}
#experience-year{
    font-weight: 700;
    font-size: 3.4rem;
    color: #FFFFFF;
}
.experience-text{
    font-weight: 500;
    font-size: 1.34rem;
    color: #FFFFFF;
}
/* some facts styles */
.section-title{
    margin-bottom: 20px;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 208px;
    width: 208px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 43px;
}
.fact-number{
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.08rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    font-size: 0.86rem;
    font-weight: 400;
    max-width: 467px;
    margin: 24px 0px 86px 0px;

}
/* sponsore related styles */
.sponsor-info{
    max-width: 467px;
    text-align: center;
    margin: 50px auto;
}
.section-description{
    font-size: 0.86rem;
    font-weight: 400;
}
.sponsore-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 133px;
    
}
.sponsore-companies img{
    filter: grayscale(100%);
    width: 143px;
    height: 43px;
}


/* responsive media query */
/* small device */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .features,
    .teams{
        flex-direction: column;
    }
    .team-img-container,
    .fact-container, 
    .sponsore-companies{
        grid-template-columns: 1fr;
    }
    .fact-container{
        justify-items: center;
        gap: 20px;
    }
    .sponsore-companies{
        justify-items: center;
        gap: 50px;
    }
    .our-features{
        padding: 0px;
        margin-left: 20px ;
        margin-right: 10px ;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 60px;
    }
}
/* medium size device media query */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams, 
    .features{
        flex-direction: column;
    }
    .our-features{
        width: 45px auto;
    }
    .sponsore-companies, .fact-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    #experience-badge{
        margin-left: 35%;
        margin-top: 20px;
    }
}